% arara: pdflatex: { shell : yes }
% arara: pdflatex: { shell : yes }
% arara: pdflatex: { shell : yes }
% Preamble
\documentclass[11pt]{article}

% Packages
\usepackage{amsmath}
\usepackage{tikz}
\usepackage[utf8]{inputenc}
\usepackage[ngerman]{babel}
\usepackage{graphicx}

% Document
\begin{document}


{% for layer in data.layers %}
    {% if layer.pre_conditions %}
        \section{ {% for condition in layer.pre_conditions %} {{ condition.attribute }}={{ condition.value }}
        {% if not loop.last %} AND {% endif %} {% endfor %} }
    {% else %}
        \section{Root}
    {% endif %}
    {% if layer.only_target %}
        {{ layer.only_target }} is the only target left. \\
    {% else %}
        {% for attribute in layer.attributes %}
            \subsection{ {{ attribute.name }} }

            {% for value in attribute.values %}
                \subsubsection{ {{ value.name }} ({% for value_name, count in value.values %} {{ value_name }}: {{ count }}
                {% if not loop.last %}, {% endif %} {% endfor %}) }
                $ H(\textnormal{ {{ value.name }} }) = {% for value_name, count in value.values %} - \frac{ {{ count }} }{ {{ value.total }} } * log_2(\frac{ {{ count }} }{ {{ value.total }} }) {% endfor %} = {{ value.entropy }} $
            {% endfor %}

            \subsection{Information Gain}
            % IG(wetter) = H(wetter) - 5/14 * H(sunny) - 5/14 * H(overcast) - 4/14 * H(rainy) = 0.2467
            $ IG(\textnormal{ {{ attribute.name }} }) = H(\textnormal{ {{ attribute.name }} }) - {% for value in attribute.values %} \frac{ {{ value.total}} }{ {{ attribute.total }} } * H(\textnormal{ {{ value.name }} }) {% if not loop.last %} - {% endif %} {% endfor %} = {{ attribute.information_gain }} $

        {% endfor %}

        \subsection{Information Gain}

        {% for attribute in layer.attributes %}
            {% if attribute.name == layer.best_attribute.name %}
                \textbf{ {{ attribute.name }} }: {{ attribute.information_gain }} \\
            {% else %}
                {{ attribute.name }}: {{ attribute.information_gain }} \\
            {% endif %}
        {% endfor %}

    {% endif %}


    \begin{figure}[h]
        \includegraphics[width=\textwidth]{images/{{ layer.current_tree }} }
    \caption{Decision Tree: {{ loop.index }} }
    \end{figure}
{% endfor %}

\end{document}
